@inject IConfiguration Config

@page "/debug"

<PageTitle>Debug</PageTitle>

<h3>Env Debug</h3>


<h4>Port</h4>
<p>HTTP_PORT: @Config["HTTP_PORT"]</p>

<h4>Path</h4>
<p>ROOT_PATH: @Config["ROOT_PATH"]</p>

<h4>Credentials</h4>
<p>Admin_Username: @Config["Admin_Username"]</p>
<p>Admin_Password: @Config["Admin_Password"]</p>

<h4>JWT</h4>
<p>Key: @Config["JWT:Key"]</p>
<p>Issuer: @Config["JWT:Issuer"]</p>
<p>Audience: @Config["JWT:Audience"]</p>


@code {
}
